<div class="paragragh">
    <div class="text-product">
        <h3>Productos de Belleza</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat minus inventore sed vel ab accusantium? Aut aspernatur tempora ipsam tempore molestiae odit ratione, dolores tenetur vel vero debitis laboriosam.
        </p>
        <button class="btn-product">
            Inspeccionar
        </button>
    </div>

    <div class="text-product">
        <h3>Productos Innovadores</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, placeat minus inventore sed vel ab accusantium? Aut aspernatur tempora ipsam tempore molestiae odit ratione, dolores tenetur vel vero debitis laboriosam.
        </p>
        <button class="btn-product">
            Inspeccionar
        </button>
    </div>
</div>